.logo{
	width: 50px;
	height: auto;
}

.navbar-brand{
	position: relative;
	top: -3px;
}

.intro-header, .banner{
	background-attachment:fixed; /*para que haga parallax*/
}

.conten-section-a, .content-section-b{
	padding: 80px 0;
}
